@model IEnumerable<WdtModels.ApiModels.Faq>

@{
    ViewData["Title"] = "F.A.Q.";
}
<h1>@ViewData["Title"]</h1>

<div class="accordion" id="accordionExample">
    @{
        for (int i = 0; i < Model.Count(); i++)
        {
            <div class="card">
                <div class="card-header" id="heading@(i)">
                    <h2 class="mb-0">
                        <button class="btn btn-link @(i > 0 ? "collapsed" : "")" type="button" data-toggle="collapse" data-target="#collapse@(i)" aria-expanded="false" aria-controls="collapse@(i)">
                            @Model.ElementAt(i).Question
                        </button>
                    </h2>
                </div>
                <div id="collapse@(i)" class="collapse @(i == 0 ? "show" : "")" aria-labelledby="heading@(i)" data-parent="#accordionExample">
                    <div class="card-body">
                        @Model.ElementAt(i).Answer
                    </div>
                </div>
            </div>
        }
    }
</div>