@model WdtApiLogin.Controllers.StaffController.IndexViewModel

@{

    ViewData["Title"] = "Upcoming Events";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 ">
    <h1 class="h2">@ViewData["Title"]</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a asp-action="Create">
                <input type="button" class="btn btn-sm btn-outline-secondary" value="Create New"/>
            </a>
        </div>
    </div>
</div>

@if (Model.Slots.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-sm table-hover">
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(modelItem => Model.Slots.First().RoomID)</th>
                <th>@Html.DisplayNameFor(modelItem => Model.Slots.First().StartTime)</th>
                <th>@Html.DisplayNameFor(modelItem => Model.Slots.First().Student)</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Slots)
            {
                <tr>
                    <td>@item.RoomID</td>
                    <td>@item.StartTime</td>
                    <td>@(item.Student != null ? $"{item.Student.Name} ({item.Student.UserID})" : string.Empty)</td>
                    <td class="text-right">
                        @* https://stackoverflow.com/questions/44136636/mvc-button-click-call-post-action-method *@
                        <div class="btn-group mr-2">
                            @if (item.Student == null)
                            {
                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="@Model.Slot.RoomID" value="@item.RoomID"/>
                                    <input type="hidden" asp-for="@Model.Slot.StartTime" value="@item.StartTime"/>
                                    <input type="submit" value="Delete" class="btn btn-sm btn-outline-secondary"/>
                                </form>
                            }
                            else
                            {
                                <input type="button" class="btn btn-sm btn-outline-secondary disabled" value="Delete"/>
                            }
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-info" role="alert">
        No Upcoming Events Found
    </div>
}